.custom {
  padding: 6px 16px;
  background-color: #800000;
  font-size: 14px;
  font-weight: 500;
}

.custom:hover {
  background-color: #800000 !important;
}

.active {
  background-color: #800000;
  color: white;
}

.active:hover {
  background-color: #800000 !important;
  color: white !important;
}

.inactive {
  background-color: #e9ecef;
  color: #800000;
}

.inactive:hover {
  background-color: #e9ecef !important;
  color: #800000 !important;
}


.maroon {
  background-color: #800000;
  color: white;
}

.maroon:hover {
  background-color: #800000 !important;
  color: white !important;
}