.lineChart, .barChart {
  padding: 1rem;
  height: 402px;
  border-radius: 16px;
  border: 1px solid #D1D5DB;
  background-color: #FFFFFF;
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.20);
  
  .IconColor{
    color: #314CFF;
    font-size: 12px;
    vertical-align: middle;
  }

  .feesAmountText{
    font-size: 12px;
    color: #9CA3AF;
    font-weight: 400;
  }
  .feesAmoutPercent{
    background-color: #00CC991A;
    padding: 0 7.77px;
    height: 17px;
    border-radius: 97.09px;
    color: #00CC99;
    font-size: 14px;
  }

}