
.table td, .table th {
  padding-left: 32px;
  vertical-align: middle;
  font-size: 14px;
}
.table-header {
  height: 42px;
  background-color: #ebebeb;
}
.table-header th {
  font-weight: 600;
  font-size: 14px;
  color: #62748e;
}

.table-row {
    height: 48px;
}

.table-radius {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* .table-row:hover {
  background-color: #f1f1f1;
} */