.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.row {
  display: flex;
  align-items: start;
  margin-bottom: 1.25rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.label {
  width: 120px;
  font-weight: 500;
}

.select {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  min-width: 180px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.btn {
    padding: 0.5rem 5rem
}
