.brinavv-color {
  color: #800000;
}

.btn-bg-color {
   background-color: #800000;
}
.underline-heading {
  display: inline-block;
  border-bottom: 2px solid #800000;
  padding-bottom: 2px;
}

.primary-bg-color {
  background-color: #F6F6F6;
}

.input-focus {
    outline: none !important;
    border: 1px solid #d0d5dd !important;
}

.input-focus:focus {
    box-shadow: 0 0 5px rgba(176, 176, 176, 0.5) !important;
}

.heading {
  font-size: 16px;
}

.text-size {
  font-size: 14px;
}

.text-spacing {
  letter-spacing: 0.5px;
}

.text {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
  letter-spacing: 0.5px;
}
.secondary-color {
  background-color: #f3f4f6 !important;
}


.icon-size {
  width: 16px;
  height: 16px;
}

.form-check-input:checked {
  background-color: #800000; /* jo color tu chahe */
  border-color: #800000;
}
.custom-border {
  border: 1px solid 1px solid #d0d5dd !important;
}


